{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>

        <br>
        <br>
        <br>
    <br>

        <br>
        <br>
        <br>
<div class="card text-center">
    <div class="card-body">

        <h1>Welcome To Polls</h1>
        <marquee><p>Polling App</p></marquee>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">
            View Available Polls</a>
    </div>
</div>



<style>


    body{

background-image: url("{% static 'images/vot.jpg' %}");
background-repeat: no-repeat, repeat;

 background-size: cover;
 background-position: center;
 height:100%;
</style>
{% endblock %}
