{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>

        <br>
        <br>
        <br>
    <br>

        <br>
        <br>
        <br>
<br>


        <br>
        <br>

        <br>
        <br>
        <br>



        <marquee><h1 class="text-white"> Welcome to Polling App</h1></marquee>





<style>


    body{

background-image: url("{% static 'images/we.jpg' %}");
background-repeat: no-repeat, repeat;

 background-size: cover;
 background-position: center;
 height:100%;
</style>
{% endblock %}
